---
import '../styles/global.css';
import { getNombreSeccion } from '../utils/helperes.js';
---

<footer class="w-full flex items-center justify-center">
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 p-9 text-center">© <span id="year"></span> Jefferson Vivas · Construido con cariño y buenas prácticas.</div>
</footer>