---
import '../styles/global.css';
import Icons from '../icons/icons.astro';
import TypedHero from './TypedHero';
---

<div class="relative h-screen flex flex-col justify-center">
  <!-- Fondo de luz neón centrado y controlable -->
  <div class="fixed inset-0 flex items-center justify-center pointer-events-none">
    <div class="neon-breathe-bg w-[300px] h-[300px]"></div>
  </div>
  <div class="pl-8 pr-8 md:pl-24 lg:pl-48 relative z-10">
    <p class="scroll-animation scroll-animation-default text-2xl sm:text-3xl md:text-4xl">Bienvenid@s!</p>

    <!-- EFECTO TYPE EFFECT -->
    <TypedHero client:load />

    <p class="scroll-animation scroll-animation-default delay-1000 text-lg sm:text-xl md:text-2xl italic mt-2.5">"Don't work hard, work smart" - Allen F. Morgenstern</p>
    <div class="scroll-animation scroll-animation-default flex space-x-5 mt-4">
      <Icons class="lg:h-10 lg:w-10 sm:h-8 sm:w-8 h-6 w-6"/>
    </div>
  </div>
</div>