---
import '../styles/global.css';
import { getNombreSeccion } from '../utils/helpers.js';
import IconPhp from '../icons/Php.astro';
import IconCss from '../icons/Css.astro';
import IconTailwind from '../icons/Tailwind.astro';
import IconChartJs from '../icons/ChartJs.astro';
import IconJs from '../icons/Js.astro';
import IconMysql from '../icons/Mysql.astro';
import IconReact from '../icons/React.astro';
import IconSymfony from '../icons/Symfony.astro';
import IconBootstrap from '../icons/Bootstrap.astro';
import IconHtml from '../icons/Html.astro';
---

<section id="proyectos" class="w-full py-20 bg-transparent">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col relative z-10">
    <!-- Título -->
    <h1 class="scroll-animation scroll-animation-default text-4xl md:text-7xl font-extrabold text-center mb-12">
      {getNombreSeccion("proyectos")}
    </h1>

    <!-- Subtítulo -->
    <p class="scroll-animation scroll-animation-default text-center mb-14 text-lg md:text-2xl h-full">
      Algunos de mis proyectos personales y experiencia laboral más reciente.
    </p>

    <!-- Grid de proyectos -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">

      <!-- Proyecto MONEY TRACKER -->
      <div class="scroll-animation scroll-animation-default group relative overflow-hidden rounded-2xl border border-white/10 bg-white/5 backdrop-blur-sm shadow-lg hover:scale-105 transition-transform duration-300">
        <img src="/MoneyTracker.png" alt="Proyecto 3" class="mx-auto md:w-fit h-32 object-cover mt-4 rounded-2xl drop-shadow-sm drop-shadow-white">
        <div class="p-6">
          <h2 class="text-xl font-bold mb-2">Money Tracker (FullStack)</h2>
          <p class="text-gray-400 mb-4 min-h-28">
            App creada desde cero para gestionar las finanzas familiares. Desarrollada con tecnologías FullStack.
          </p>
          <div class="flex place-content-between pb-3">
            <IconTailwind class="h-10 w-10"/>
            <IconChartJs class="h-10 w-10"/>
            <IconJs class="h-10 w-10"/>
            <IconPhp class="h-10 w-10"/>
            <IconMysql class="h-10 w-10"/>
          </div>
          <div class="flex place-content-between">
          <a href="https://github.com/jvivas95/movimientos-dinero.git" target="_blank" class="text-blue-400 font-semibold hover:underline">
            Ver código →
          </a>
          <a href="https://moneytracker.42web.io/" target="_blank" class="text-blue-400 font-semibold hover:underline">
            Ver el proyecto →
          </a>
          </div>
        </div>
      </div>

      <!-- Proyecto Tic Tac Toe -->
      <div class="scroll-animation scroll-animation-default group relative overflow-hidden rounded-2xl border border-white/10 bg-white/5 backdrop-blur-sm shadow-lg hover:scale-105 transition-transform duration-300">
        <img src="/React.png" alt="Proyecto 1" class="mx-auto md:w-fit h-32 object-cover mt-4 rounded-2xl drop-shadow-sm drop-shadow-white">
        <div class="p-6">
          <h2 class="text-xl font-bold mb-2">Tic Tac Toe (Frontend)</h2>
            <p class="text-gray-400 mb-4 min-h-28">
            Juego clásico para aprender React, componentes, hooks y navegación con React Router.
            </p>
          <div class="flex place-content-center space-x-6 pb-3">
            <IconReact class="h-10 w-10"/>
            <IconCss class="h-10 w-10"/>
          </div>
          <div class="flex place-content-between">
          <a href="https://github.com/jvivas95/React.git" target="_blank" class="text-blue-400 font-semibold hover:underline">
            Ver código →
          </a>
          <a href="https://react-red-pi.vercel.app" target="_blank" class="text-blue-400 font-semibold hover:underline">
            Ver el proyecto →
          </a>
          </div>
        </div>
      </div>

      <!-- SDWEB - eHabilis -->
      <div class="scroll-animation scroll-animation-default group relative overflow-hidden rounded-2xl border border-white/10 bg-white/5 backdrop-blur-sm shadow-lg hover:scale-105 transition-transform duration-300">
        <img src="/eHabilis.png" alt="Proyecto 1" class="mx-auto md:w-fit h-32 object-cover mt-4 rounded-2xl drop-shadow-sm drop-shadow-white">
        <div class="p-6">
          <h2 class="text-xl font-bold mb-2">SdWeb (prácticas - Backend)</h2>
          <p class="text-gray-400 mb-4 min-h-28">
          Prácticas en SDWEB desarrollando nuevas funciones y métricas en eHabilis Manager con Symfony.
          </p>
          <div class="flex place-content-center space-x-6 pb-3">
            <IconSymfony class="h-10 w-10"/>
            <IconChartJs class="h-10 w-10"/>
            <IconMysql class="h-10 w-10"/>
          </div>
          <div class="flex place-content-between">
          </div>
        </div>
      </div>



      <!-- Proyecto DAILY ROUTINE -->
      <div class="scroll-animation scroll-animation-default group relative overflow-hidden rounded-2xl border border-white/10 bg-white/5 backdrop-blur-sm shadow-lg hover:scale-105 transition-transform duration-300">
        <img src="/Portada-DailyRoutine.png" alt="Proyecto 1" class="mx-auto md:w-fit h-32 object-cover mt-4 rounded-2xl drop-shadow-sm drop-shadow-white">
        <div class="p-6">
          <h2 class="text-xl font-bold mb-2">Daily Routine (FullStack)</h2>
          <p class="text-gray-400 mb-4 min-h-28">
            App de organización personal hecha con PHP, Bootstrap y JS. Aprendizaje sobre buenas prácticas y estructura de código.
          </p>
          <div class="flex place-content-between pb-3">
            <IconBootstrap class="h-10 w-10"/>
            <IconJs class="h-10 w-10"/>
            <IconPhp class="h-10 w-10"/>
            <IconMysql class="h-10 w-10"/>
          </div>
          <div class="flex place-content-between">
          <a href="https://github.com/jvivas95/Daily-Routine.git" target="_blank" class="text-blue-400 font-semibold hover:underline">
            Ver código →
          </a>
          <a href="https://dailyroutine.42web.io/" target="_blank" class="text-blue-400 font-semibold hover:underline">
            Ver el proyecto →
          </a>
          </div>
        </div>
      </div>

      <!-- Proyecto AMIVET -->
      <div class="scroll-animation scroll-animation-default group relative overflow-hidden rounded-2xl border border-white/10 bg-white/5 backdrop-blur-sm shadow-lg hover:scale-105 transition-transform duration-300">
        <img src="/Amivet.png" alt="Proyecto 1" class="mx-auto md:w-fit h-32 object-cover mt-4 rounded-2xl drop-shadow-sm drop-shadow-white">
        <div class="p-6">
          <h2 class="text-xl font-bold mb-2">Amivet</h2>
            <p class="text-gray-400 mb-4 min-h-28">
            Página estática para practicar HTML y CSS, enfocada en estructura semántica y animaciones.
            </p>
            <div class="flex place-content-center space-x-6 pb-3">
            <IconHtml class="h-10 w-10"/>
            <IconCss class="h-10 w-10"/>
            <IconJs class="h-10 w-10"/>
          </div>
          <div class="flex place-content-between">
          <a href="https://github.com/jvivas95/DIW_Proyecto.git" target="_blank" class="text-blue-400 font-semibold hover:underline">
            Ver código →
          </a>
          <a href="https://diw-proyecto.vercel.app/" target="_blank" class="text-blue-400 font-semibold hover:underline">
            Ver el proyecto →
          </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
