---
import '../styles/global.css';
import { getNombreSeccion } from '../utils/helperes.js';

---
<section id="sobre-mi">
<div class="flex flex-col relative z-10">
  <h1 class="text-4xl md:text-7xl font-extrabold text-center mb-12">
    {getNombreSeccion("sobreMi")}
  </h1>
  <div class="flex flex-col w-full h-full lg:flex-row">
  <div class="h-full flex flex-1 items-center justify-center">
    foto
  </div>
  <div class="h-full flex flex-1 flex-col text-lg md:text-2xl p-12 space-y-5 text-justify">
    <p>¡Hola! Soy Jefferson Vivas,</p>
    <p>Desarrollador Web Junior en constante crecimiento y aprendizaje. Me encuentro en un proceso de reconversión profesional (antes vendía, ahora programo). Pasé de cerrar tratos a cerrar etiquetas &lt; /&gt;.</p>
    <p>Tras varios años de experiencia en ventas, decidí dar el salto al mundo de la programación. Todo empezó con 2 años de Grado Superior en Desarrollo de Aplicaciones Web, donde adquirí los conocimientos fundamentales para comenzar mi carrera en este apasionante campo.</p>
    <p>Y actualmente me encuentro trabajando en proyectos personales, aplicando lo aprendido y formándome en las tecnologías más demandadas del mercado.</p>
    <a class="text-center">¿Quieres saber más de mí?</a>

  </div>
  </div>
</div>
</section>