---
import '../styles/global.css';
import { getNombreSeccion } from '../utils/helperes.js';

---
<section id="sobre-mi">
<div class="h-screen flex flex-col">
  <h1 class="w-full h-auto text-7xl mt-20 mb-8 text-center">{getNombreSeccion("sobreMi")}</h1>
  <div class="flex flex-row w-full h-full">
  <div class="h-full flex flex-1 items-center justify-center">
    foto
  </div>
  <div class="h-full flex flex-1 flex-col text-2xl p-8 space-y-4 ">
    <p>¡Hola! Soy Jefferson Vivas,</p>
    <p>Desarrollador Web Junior en constante crecimiento y aprendizaje. Me encuentro en un proceso de reconversión profesional (antes vendía, ahora programo). Pasé de cerrar tratos a cerrar etiquetas < />.</p>
    <p>Tras varios años de experiencia en ventas, decidí dar el salto al mundo de la programación. Todo empezó con 2 años de Grado Superior en Desarrollo de Aplicaciones Web, donde adquirí los conocimientos fundamentales para comenzar mi carrera en este apasionante campo.</p>
    <p>Y actualmente me encuentro trabajando en proyectos personales, aplicando lo aprendido y formándome en las tecnologías más demandadas del mercado.</p>
    <a>¿Quieres saber más de mí?</a>

  </div>
  </div>
</div>
</section>