---
import '../styles/global.css';
---

<div class="w-screen h-screen flex flex-col border border-solid">
  <h1 class="w-full h-auto text-7xl mt-20 mb-8 text-center">Sobre mi</h1>
  <div class="flex flex-row w-full h-full">
  <div class="h-full flex flex-1 items-center justify-center border border-solid">
    foto
  </div>
  <div class="h-full flex flex-1 items-center justify-center border border-solid">
    texto sobre mi
  </div>
  </div>
</div>